Paylasilan_Projeler/Starter_Kit/Antigravity/Projeler/Shorts_Demo_Otomasyonu/Sora 2 Vücut Kamerası (10).json
{
  "name": "Sora 2 Vücut Kamerası",
  "nodes": [
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1584,
        688
      ],
      "id": "6c75c176-72e8-4ec8-9003-699d8c3eb060",
      "name": "Videoyu Indir"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c7de4991-a871-43b8-831f-180b244d9ef2",
              "name": "video_title",
              "value": "={{ $('Prompt Üretici - İngilizce').item.json.output.title }}",
              "type": "string"
            },
            {
              "id": "bf963e93-4e9a-415a-814b-6746c96c43e9",
              "name": "video_description",
              "value": "={{ $('Prompt Üretici - İngilizce').item.json.output.description }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1792,
        688
      ],
      "id": "9d89a0ea-e03d-4bf8-a106-3296fea3cd13",
      "name": "Baslik ve Aciklamayı Al"
    },
    {
      "parameters": {
        "content": "## Instagram Reels",
        "height": 224,
        "width": 336,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1984,
        368
      ],
      "typeVersion": 1,
      "id": "0408d0c6-26e6-4a79-b90f-668910acffb2",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.upload-post.com/api/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Apikey eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6Im96ZXJlbmRvbHVuYXlAZ21haWwuY29tIiwiZXhwIjo0OTExNzM2NTA0LCJqdGkiOiIzODdiMGM0Yi1lNzI4LTRhZGUtYjRiNi03Y2Y3OTZhNWY1YjcifQ.nvFSAoj_qtywrcxp4bJN43VCWt_nINNK1RgOK6ypObU"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $json.video_title }}"
            },
            {
              "name": "user",
              "value": "dolunay_ozeren"
            },
            {
              "name": "platform[]",
              "value": "instagram"
            },
            {
              "parameterType": "formBinaryData",
              "name": "video",
              "inputDataFieldName": "=data"
            },
            {
              "name": "media_type",
              "value": "REELS"
            },
            {
              "name": "share_to_feed",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2096,
        432
      ],
      "id": "68e6d418-a7ab-48fe-ac7e-0099ffbfeb15",
      "name": "Instagram Reels",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.upload-post.com/api/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Apikey eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6Im96ZXJlbmRvbHVuYXlAZ21haWwuY29tIiwiZXhwIjo0OTExNzM2NTA0LCJqdGkiOiIzODdiMGM0Yi1lNzI4LTRhZGUtYjRiNi03Y2Y3OTZhNWY1YjcifQ.nvFSAoj_qtywrcxp4bJN43VCWt_nINNK1RgOK6ypObU"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $json.video_title }}"
            },
            {
              "name": "user",
              "value": "dolunay_ozeren"
            },
            {
              "name": "platform[]",
              "value": "tiktok"
            },
            {
              "parameterType": "formBinaryData",
              "name": "video",
              "inputDataFieldName": "=data"
            },
            {
              "name": "privacy_level",
              "value": "PUBLIC_TO_EVERYONE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2096,
        944
      ],
      "id": "460cc6d1-44d8-4585-9b3e-13dcbdb92d0f",
      "name": "TikTok",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $json.video_title }}\n",
        "regionCode": "US",
        "categoryId": "15",
        "options": {
          "defaultLanguage": "en",
          "description": "={{ $json.video_description }}\n",
          "privacyStatus": "public",
          "selfDeclaredMadeForKids": false
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        2096,
        688
      ],
      "id": "256a72e3-492c-4e46-9c4d-4f381146fa16",
      "name": "YouTube Shorts",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "pcrY3mddE0OORfdw",
          "name": "YouTube PetsGotTalent"
        }
      }
    },
    {
      "parameters": {
        "content": "## TikTok",
        "height": 224,
        "width": 336,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1984,
        880
      ],
      "typeVersion": 1,
      "id": "805ac47a-5ff6-495a-a373-fb90adc6e278",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## YouTube Shorts",
        "height": 224,
        "width": 336,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1984,
        624
      ],
      "typeVersion": 1,
      "id": "96591e0a-fdb3-4f8f-b020-e4d470c9bbe8",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/runway/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.output.prompt }}"
            },
            {
              "name": "duration",
              "value": "10"
            },
            {
              "name": "quality",
              "value": "720p"
            },
            {
              "name": "aspectRatio",
              "value": "16:9"
            },
            {
              "name": "waterMark"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        720
      ],
      "id": "de682513-757e-4b37-9cbb-02d5a9ed9609",
      "name": "Sora 2 ile Video Üret"
    },
    {
      "parameters": {
        "content": "### Sora 2 Ayarlar\n\nEğer Sora 2'yi kişiselleştirmek istiyorsanız, nodun ayarlarında aşağıdaki değişiklikleri yapabilirsiniz.\n\naspect_ratio\n- portrait\n- landscape\n\n\nn_frames\n- 10\n- 15\n\n\nremove_watermark\n- true \n- false ",
        "height": 480,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        384,
        896
      ],
      "typeVersion": 1,
      "id": "c9a11706-cd5d-40cc-bc00-2a128b01424a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(({ json }) => {\n  const raw = json.resultJson ?? json.data?.resultJson ?? json.param?.resultJson;\n  let url = null;\n\n  try {\n    const obj = typeof raw === 'string' ? JSON.parse(raw) : raw;\n    if (Array.isArray(obj?.resultUrls) && obj.resultUrls.length) {\n      url = obj.resultUrls[0];\n    } else if (obj?.resultUrl) {\n      url = obj.resultUrl;\n    } else if (obj?.url) {\n      url = obj.url;\n    }\n  } catch {\n    const m = String(raw ?? '').match(/https?:\\/\\/[^\\s\"']+/);\n    url = m ? m[0] : null;\n  }\n\n  // Sade çıktı: sadece URL\n  return { json: { url } };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        688
      ],
      "id": "7a6a322e-ee14-4341-b3e4-f0a8fe94c479",
      "name": "URL'yi Temizle"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a96f17f2-5967-4b13-acc9-4d41f226453b",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "=success",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "52ad92ea-901f-4af8-a462-84b045dd2803",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "ing",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "in progress"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1104,
        704
      ],
      "id": "daa64fe8-66c9-46da-9f34-d8f6df43bcd0",
      "name": "Video Üretim Kontrol",
      "executeOnce": false,
      "alwaysOutputData": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        720
      ],
      "id": "cfb0a782-2f36-4f09-a029-396a3aa82e94",
      "name": "Videoyu Al",
      "credentials": {
        "httpHeaderAuth": {
          "id": "E9iqjRz2dCQ6bFxC",
          "name": "Kie API"
        }
      }
    },
    {
      "parameters": {
        "content": "## Videoları Üret",
        "height": 480,
        "width": 944,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        624
      ],
      "typeVersion": 1,
      "id": "df5922d5-c961-4a70-b695-a561c661f2f2",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Paylaşıma Hazırlanıyor...",
        "height": 480,
        "width": 640,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1328,
        624
      ],
      "typeVersion": 1,
      "id": "3c161369-8a8f-4006-9a27-43bacddda2e1",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "amount": 90
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        720,
        720
      ],
      "id": "696e751f-f973-4e13-b201-9f688fba33f5",
      "name": "Bekle 90 Saniye",
      "webhookId": "ffc8167e-ac5b-4413-8b01-d2326c09b5d2"
    },
    {
      "parameters": {
        "errorMessage": "Video üretilemedi"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1376,
        912
      ],
      "id": "3e3263c3-c278-4ad5-9f44-ecb4516771e8",
      "name": "Error Verdi"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "sora-2-pro-text-to-video"
            },
            {
              "name": "input.prompt",
              "value": "={{ $json.output.prompt }}"
            },
            {
              "name": "input.aspect_ratio",
              "value": "portrait"
            },
            {
              "name": "input. remove_watermark",
              "value": "true"
            },
            {
              "name": "input.n_frames",
              "value": "15"
            },
            {
              "name": "input.size",
              "value": "standard"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        1440
      ],
      "id": "e62ddc53-2999-4291-bf49-982b4f61b0c1",
      "name": "Sora 2 Pro ile Video Üret",
      "credentials": {
        "httpHeaderAuth": {
          "id": "E9iqjRz2dCQ6bFxC",
          "name": "Kie API"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "### Sora 2 Pro",
        "height": 256,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        384,
        1392
      ],
      "typeVersion": 1,
      "id": "ba084cb8-ccda-47a9-b5ec-119a1f9ace4d",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "### Kei AI API Anahtarınızı Alın\n1. kie.ai 'a gidin  ve üye olun\n2. \"Billing\" bölümünden kredi satın alın\n3. \"API Key\" bölümünden anahtarınızı alın\n4. Aşağıdaki \"Klip Oluştur\" ve \"Oluşturulan Klipleri Al\" Node'larındaki ilgili yere API anahtarınızı yapıştırın.",
        "height": 320,
        "width": 336,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        384,
        288
      ],
      "typeVersion": 1,
      "id": "015c400a-e402-4d0a-b844-066b44234604",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "### YouTube Kanalınızı Bağlayın\n1. cloud.google.com'ı ziyaret edin, console'a gidin ve YouTube Data V3 API'ın açık olduğundan emin olun\n2. Audience bölümünden YouTube kanalınızın bağlı olduğu email adresini test user olarak ekleyin\n3. \"APIs & Services\" > \"Oauth Consent Screen\" > \"Client\" bölümünden bir application oluşturun ve aşağıdaki node'a bu bilgileri yapıştırın\n4. Google hesabınız ile kanala giriş yapın",
        "height": 224,
        "width": 432,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2336,
        624
      ],
      "typeVersion": 1,
      "id": "40b0f036-983a-47bd-9d13-4ce17855c821",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "### Uplod-post Hesabınızı Bağlayın\n1. [Uplod-post](https://www.upload-post.com/?linkId=lp_144414&sourceId=dolunay&tenantId=upload-post-app) üzerinde ücretsiz üyelik açın (ayda 10 post atmak ücretsiz)\n2. \"API Keys\" sekmesinden API anahtarınızı üretin ve kopyalayın. Node'unuzun içine yapıştırın.\n3. \"Users\" bölümüne gidin ve bir kullanıcı adı ile user oluşturun. Bu kullanıcı adını node'unuza yapıştırın.\n4. Oluşturduğunuz user'a sosyal medya hesaplarınızı bağlayın.\n ",
        "height": 224,
        "width": 432,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2336,
        368
      ],
      "typeVersion": 1,
      "id": "d79c9f09-6a36-4086-b3a0-e712f9d2acff",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "### Uplod-post Hesabınızı Bağlayın\nYukarıda Instagramınızı bağlamak için ürettiğiniz API anahtarını ve User adını bu node'a da yapıştırmanız gerekmektedir.\n\n(TikTok hesabınızı bağlamak için upload-post'un ücretli sürümüne geçmeniz gerekmektedir)",
        "height": 224,
        "width": 432,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2336,
        880
      ],
      "typeVersion": 1,
      "id": "39e6379a-e3dc-454a-b45c-d522fefe3c41",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "## Önemli Not\n\n1. Youtube API'ni bir süre kullanmazsanız otomatik olarak bağlantı kopacaktır. Bu noktada yeniden bağlantı kurmanız gerekecektir. Yani eğer uzun bir aradan sonra yeniden Youtube API'yi kullanıyorsanız hata alma ihtimaliniz var. Bunu mutlaka göz önünde bulundurun.\n\n2. Instagram ve TikTok yeni açılan hesapları sıkı bir şekilde denetlemektedir. Bunun sebebi henüz hesabın daha platformda yeni açılmış olması dolayısıyla güvenilir olup olmadığı hakkında platformun yeterince bilgiye sahip olmamasıdır. Bu nedenle eğer yeni bir hesap açıyorsanız bu hesapta otomatik paylaşım yapmak yerine bir süre manuel paylaşım yapmayı öneririm. Gün içinde o hesapta biraz vakit geçirmeniz, başkalarının videolarıyla etkileşime girmeniz ve paylaşımları kendiniz yapmanız tavsiye edilir. Böylece hesabın platform nezdindeki itibarını arttırmış olacaksınız.",
        "height": 560,
        "width": 432,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2784,
        464
      ],
      "typeVersion": 1,
      "id": "d6fc5cef-532c-4fd6-9b8d-b2a95c4b885b",
      "name": "Sticky Note16"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        -16,
        880
      ],
      "id": "93584166-44f5-4cd6-b265-3996406250c5",
      "name": "Think"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\",\n      \"description\": \"A short, exciting, descriptive, simplistic YouTube Shorts title\"\n    },\n    \"description\": {\n      \"type\": \"string\",\n      \"description\": \"1–3 sentences summarizing the crazy water event\"\n    },\n    \"prompt\": {\n      \"type\": \"string\",\n      \"description\": \"A detailed AI video generation prompt\"\n    }\n  },\n  \"required\": [\"title\", \"description\", \"prompt\"]\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        80,
        928
      ],
      "id": "a880224d-d5c8-4c3a-b753-df25cef08f59",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -512,
        720
      ],
      "id": "f6e7ba8e-3e96-473e-b873-dd9a66422a3b",
      "name": "Otomatik Çalış"
    },
    {
      "parameters": {
        "jsCode": "const min = 1; // minimum value\nconst max = 10; // maximum value\nconst randomNumber = Math.floor(Math.random() * (max - min + 1)) + min;\nreturn [{ json: { randomNumber } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        720
      ],
      "id": "ac50ebeb-0994-47a1-8bc2-347ffdc6eb2a",
      "name": "Sayı Üret"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate a prompt for {{ $json.randomNumber }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an AI that generates random video prompts for short form content.  \nYour ONLY output must strictly follow this JSON structure:  \n\n{\n  \"title\": \"Exciting, descriptive, simplistic title here\",\n  \"description\": \"Short, few sentence description based on the story\",\n  \"prompt\": \"AI video generation prompt here\"\n}\n\nGuidelines:\n- The \"title\" must be short, eye-catching, and easy to understand.  \n- The \"description\" should be 1–3 sentences summarizing the crazy event in a fun, engaging way.  \n- The \"prompt\" must be a detailed AI video generation prompt describing the scene from the primary video types below. Every prompt needs to be a bodycam video. Always choose a random one.\n- Never break JSON format. Never add extra text or explanation outside the JSON.  \n- Never repeat a video, always cycle through them.\n\nPrimary Video Types: \n\n1. An obese cat runs around inside the house. The cat is almost the size of a room.\n\n2. A chicken working out using one of the machines at the gym.\n\n3. A woodpecker tries to get into a squirrel’s nest inside a tree; the squirrel looks at the woodpecker, points a gun at its face, and pulls the trigger.\n\n4. A group of seals jumping out of a military aircraft. All of the seals are wearing military uniforms and parachutes.\n\n5. A giant hamster runs on a treadmill that stretches down the hallway; the buttons are the size of armchairs.\n\n6. An octopus works as a barista in a café, making coffee and doing latte art with eight arms at the same time.\n\n7. A penguin drives a forklift in a warehouse, carefully moving pallets stacked with ice blocks.\n\n8. A giraffe tries to do yoga in a tiny apartment; its neck threads between the blades of a ceiling fan.\n\n9. A group of raccoons in suits holds a serious business meeting around a trash can like it’s a conference table.\n\n10. A bear DJs in a nightclub, spinning two jars of honey like turntables and mixing a set.\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -112,
        720
      ],
      "id": "609eb60b-8f3f-44f1-befe-190b82db9e8d",
      "name": "Prompt Üretici - İngilizce",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## Video Üretim Sıklığı",
        "height": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -576,
        624
      ],
      "typeVersion": 1,
      "id": "062cd654-e7f9-4803-bfdf-50a6f1e62c3d",
      "name": "Sticky Note31"
    },
    {
      "parameters": {
        "content": "## Senaryo Üretimi\n",
        "height": 480,
        "width": 672,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        624
      ],
      "typeVersion": 1,
      "id": "ad01fb2e-658b-4b9a-b876-b8d2266eb62e",
      "name": "Sticky Note32"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -112,
        992
      ],
      "id": "4d738f4c-e953-4e39-857a-467f65fea3c6",
      "name": "ChatGPT 4.1",
      "credentials": {
        "openAiApi": {
          "id": "q1peVe72XjiVV2bt",
          "name": "Test Youtubeee"
        }
      }
    },
    {
      "parameters": {
        "content": "## OpenAI Bağlayın \n1. platform.openai.com'a gidin\n2. Ücretsiz üye olun\n3. Ayarlar > Billing kısmından bakiye yükleyin\n4. Ayalar > API Keys kısmından API alın",
        "height": 240,
        "width": 224,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -112,
        368
      ],
      "typeVersion": 1,
      "id": "7cd079f2-1b86-4551-8502-4a5682e1ec52",
      "name": "Sticky Note33"
    }
  ],
  "pinData": {},
  "connections": {
    "Videoyu Indir": {
      "main": [
        [
          {
            "node": "Baslik ve Aciklamayı Al",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baslik ve Aciklamayı Al": {
      "main": [
        [
          {
            "node": "Instagram Reels",
            "type": "main",
            "index": 0
          },
          {
            "node": "YouTube Shorts",
            "type": "main",
            "index": 0
          },
          {
            "node": "TikTok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sora 2 ile Video Üret": {
      "main": [
        [
          {
            "node": "Bekle 90 Saniye",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URL'yi Temizle": {
      "main": [
        [
          {
            "node": "Videoyu Indir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Üretim Kontrol": {
      "main": [
        [
          {
            "node": "URL'yi Temizle",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Bekle 90 Saniye",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Verdi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Videoyu Al": {
      "main": [
        [
          {
            "node": "Video Üretim Kontrol",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bekle 90 Saniye": {
      "main": [
        [
          {
            "node": "Videoyu Al",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Prompt Üretici - İngilizce",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Prompt Üretici - İngilizce",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Otomatik Çalış": {
      "main": [
        [
          {
            "node": "Sayı Üret",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sayı Üret": {
      "main": [
        [
          {
            "node": "Prompt Üretici - İngilizce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChatGPT 4.1": {
      "ai_languageModel": [
        [
          {
            "node": "Prompt Üretici - İngilizce",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Üretici - İngilizce": {
      "main": [
        [
          {
            "node": "Sora 2 ile Video Üret",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d5be5a7e-aed3-4d42-9ba4-a43367cb60bb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "26864db373f0c5e66d53d970bf3488b1dfb1ddc0d9f0bf0196c5111c9404a806"
  },
  "id": "Pvk4TzBLZkUWsl9M",
  "tags": []
}