Projeler/Tele_Satis_CRM/_arsiv/Sheet 1 to Notion (3).json
{
  "name": "Sheet 1 to Notion",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "10uTCr65VlIBng0Sxlmz7h1Q2y5AWBp1qDQHTeqI7mGU",
          "mode": "list",
          "cachedResultName": "Skool - Dolunay Özeren Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10uTCr65VlIBng0Sxlmz7h1Q2y5AWBp1qDQHTeqI7mGU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Mart-2026",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10uTCr65VlIBng0Sxlmz7h1Q2y5AWBp1qDQHTeqI7mGU/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -2352,
        352
      ],
      "id": "fdb3d6c6-94b6-4479-9df9-df3fea6fa9db",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "b5mO1yWmIxnuFaFt",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// === VERİ TEMİZLEME ===\nconst item = $input.first().json;\n\n// Telefon: temizle ve formatla\nlet phone = String(item.phone_number || '');\nphone = phone.replace(/^p:\\+?/, '').replace(/[\\s\\+\\-\\(\\)]/g, '');\n\n// Türk numarası formatla: +90 5XX XXX XXXX\nif (phone.startsWith('90') && phone.length === 12) {\n  phone = '+' + phone.slice(0,2) + ' ' + phone.slice(2,5) + ' ' + phone.slice(5,8) + ' ' + phone.slice(8);\n} else {\n  phone = '+' + phone;\n}\n\n// İsim: baş harfleri büyük\nlet name = (item.full_name || '').trim();\nname = name.split(' ').map(w => {\n  if (!w) return '';\n  return w.charAt(0).toUpperCase() + w.slice(1).toLowerCase();\n}).join(' ');\n\n// Bütçe: alt çizgileri boşluğa çevir, sonra Notion opsiyonlarıyla eşleştir\nconst validBudgets = ['$0 - $20', '$20 - $50', '$50 - $150', '$150+'];\nlet budget = (item['100%_otomatik_youtube_kanalı_açmak_için_yatırım_bütçeniz_nedir?'] || '').replace(/_/g, ' ');\nif (!validBudgets.includes(budget)) budget = '';\n\n// Email: lowercase + trim\nlet email = (item.email || '').trim().toLowerCase();\n\nreturn [{\n  json: {\n    ...item,\n    clean_name: name,\n    clean_phone: phone,\n    clean_email: email,\n    clean_budget: budget\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2112,
        352
      ],
      "id": "3e248200-8ef1-4158-9da8-25ab54317adb",
      "name": "Veri Temizleme"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "31226924-bb82-800e-9ada-d6f16399eba0",
          "mode": "list",
          "cachedResultName": "AI Factory Satış Leads",
          "cachedResultUrl": "https://www.notion.so/31226924bb82800e9adad6f16399eba0"
        },
        "returnAll": true,
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -1872,
        352
      ],
      "id": "caa031e3-ed02-4c72-8e7d-80572483beb5",
      "name": "Duplikasyon Kontrol",
      "alwaysOutputData": true,
      "credentials": {
        "notionApi": {
          "id": "eUfKr3nz3TcKL0fH",
          "name": "Notion API New"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// === 7 GÜN KURALI İLE DUPLİKASYON DEĞERLENDİRME ===\n// Notion'dan dönen eşleşen kayıtları al\nconst searchResults = $input.all();\nconst originalData = $('Veri Temizleme').first().json;\n\n// 7 günlük pencere (milisaniye)\nconst SEVEN_DAYS_MS = 7 * 24 * 60 * 60 * 1000;\nconst now = new Date();\n\nlet isDuplicate = false;\nlet matchReason = '';\n\nfor (const result of searchResults) {\n  // Notion'dan dönen kaydın id'si yoksa (boş sonuç) atla\n  if (!result.json.id) continue;\n\n  // Kaydın oluşturulma tarihini al\n  const createdTime = new Date(result.json.createdTime || result.json.created_time || result.json.Eklendi || '');\n  const daysSinceCreated = (now - createdTime) / (1000 * 60 * 60 * 24);\n\n  // 7 gün içinde oluşturulmuşsa → duplike\n  if (daysSinceCreated <= 7) {\n    isDuplicate = true;\n\n    // Hangi alandan eşleştiğini bul\n    const matchedEmail = result.json.email && result.json.email.toLowerCase() === originalData.clean_email;\n    const matchedPhone = result.json.Phone && result.json.Phone.replace(/[\\s\\+\\-\\(\\)]/g, '') === originalData.clean_phone;\n\n    if (matchedEmail && matchedPhone) matchReason = 'Email + Telefon eşleşti';\n    else if (matchedEmail) matchReason = 'Email eşleşti';\n    else if (matchedPhone) matchReason = 'Telefon eşleşti';\n    else matchReason = 'Kayıt eşleşti';\n\n    matchReason += ` (${Math.round(daysSinceCreated)} gün önce kayıt var)`;\n    break;\n  }\n}\n\nreturn [{\n  json: {\n    ...originalData,\n    isDuplicate: isDuplicate,\n    matchReason: matchReason\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1632,
        352
      ],
      "id": "4ebaa6d5-04ad-48d6-935f-3fffcb2b6b80",
      "name": "7 Gün Kuralı"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-new-lead",
              "leftValue": "={{ $json.isDuplicate }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1392,
        352
      ],
      "id": "529a8262-cea0-4626-9fb3-3a48bf2ad466",
      "name": "Yeni Lead mi?"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "31226924-bb82-800e-9ada-d6f16399eba0",
          "mode": "list",
          "cachedResultName": "AI Factory Satış Leads",
          "cachedResultUrl": "https://www.notion.so/31226924bb82800e9adad6f16399eba0"
        },
        "title": "={{ $json.clean_name }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Bütçe|select",
              "selectValue": "={{ $json.clean_budget }}"
            },
            {
              "key": "Durum|status",
              "statusValue": "Aranacak"
            },
            {
              "key": "email|email",
              "emailValue": "={{ $json.clean_email }}"
            },
            {
              "key": "Phone|phone_number",
              "phoneValue": "={{ $json.clean_phone }}"
            },
            {
              "key": "Komisyon|select",
              "selectValue": "Ödenmedi"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -1152,
        224
      ],
      "id": "0abce440-59f0-4129-b5c6-175b67d2d4cc",
      "name": "Create Database Page",
      "credentials": {
        "notionApi": {
          "id": "eUfKr3nz3TcKL0fH",
          "name": "Notion API New"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-has-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -928,
        224
      ],
      "id": "ff23ff4b-6dc6-455f-a31f-83b16dfbab80",
      "name": "Hata Var mı?"
    },
    {
      "parameters": {
        "sendTo": "ozerendolunay@gmail.com",
        "subject": "=⚠️ Lead Aktarım Hatası | {{ $('Veri Temizleme').first().json.clean_name }}",
        "emailType": "text",
        "message": "=Notion'a lead aktarılırken hata oluştu.\n\n📋 Lead Bilgileri:\nİsim: {{ $('Veri Temizleme').first().json.clean_name }}\nEmail: {{ $('Veri Temizleme').first().json.clean_email }}\nTelefon: {{ $('Veri Temizleme').first().json.clean_phone }}\nBütçe: {{ $('Veri Temizleme').first().json.clean_budget }}\n\nWorkflow link: https://srnfcwia.rcsrv.net/workflow/x5kSnrmSd6AuIEnRl-5Rn?projectId=6zogeT4E1WF3Ki8b&parentFolderId=lSGmRdWu6zU4SCbz\n\n❌ Hata:\n{{ $json.error.message || JSON.stringify($json.error) }}\n\nn8n üzerinden kontrol edin.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -688,
        80
      ],
      "id": "0b5a824e-4099-4c83-bea9-586520718503",
      "name": "Hata Bildirimi",
      "webhookId": "5bfc3489-9d13-491c-9e25-187d3c494cbb",
      "credentials": {
        "gmailOAuth2": {
          "id": "jDWJ61xaiaBVW09Y",
          "name": "ozerendolunay@gmail.com"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Veri Temizleme",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Veri Temizleme": {
      "main": [
        [
          {
            "node": "Duplikasyon Kontrol",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Duplikasyon Kontrol": {
      "main": [
        [
          {
            "node": "7 Gün Kuralı",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7 Gün Kuralı": {
      "main": [
        [
          {
            "node": "Yeni Lead mi?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Yeni Lead mi?": {
      "main": [
        [
          {
            "node": "Create Database Page",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Create Database Page": {
      "main": [
        [
          {
            "node": "Hata Var mı?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hata Var mı?": {
      "main": [
        [
          {
            "node": "Hata Bildirimi",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "T-aLxYgEl5wzSqUGJCTc6",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "d71b569c-bf8b-4acf-85c0-9fbf267dd904",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "26864db373f0c5e66d53d970bf3488b1dfb1ddc0d9f0bf0196c5111c9404a806"
  },
  "id": "x5kSnrmSd6AuIEnRl-5Rn",
  "tags": []
}