Projeler/_arsiv/İçerik_Otomasyon_Test/n8n-workflows/icerik-otomasyon-ana.json
{
  "name": "İçerik Otomasyon - Ana Yönlendirici",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "content-request",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Sen bir içerik talebi sınıflandırma asistanısın. Müşterinin mesajını analiz et ve aşağıdaki kategorilerden birine ata.\\n\\nKategoriler:\\n- ecommerce_video: E-ticaret ürün tanıtım videosu, reklam filmi\\n- instagram_post: Tekli Instagram postu, poster, afiş, banner\\n- carousel: Kaydırmalı Instagram postu, çoklu slayt\\n- cinematic_video: Sinematik video, diyalog sahnesi, karşılıklı konuşma\\n- human_face_video: İnsan yüzü içeren video\\n- image_edit: Mevcut görseli düzenleme, revize\\n- needs_research: Önce marka/işletme araştırması gerekiyor\\n\\nYANIT FORMATI (sadece JSON):\\n{\\n  \\\"category\\\": \\\"kategori_adı\\\",\\n  \\\"confidence\\\": 0.0-1.0,\\n  \\\"reasoning\\\": \\\"Neden bu kategori\\\",\\n  \\\"suggested_prompt\\\": \\\"Üretim için önerilen İngilizce prompt\\\"\\n}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.body.message }}\"\n    }\n  ],\n  \"temperature\": 0.2,\n  \"max_tokens\": 1000,\n  \"response_format\": { \"type\": \"json_object\" }\n}",
        "options": {}
      },
      "id": "groq-classify",
      "name": "Groq Sınıflandırma",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "jsCode": "const groqResponse = $input.first().json;\nconst content = groqResponse.choices[0].message.content;\nconst parsed = JSON.parse(content);\n\nreturn [{\n  json: {\n    ...parsed,\n    originalMessage: $('Webhook Trigger').first().json.body.message,\n    imageUrl: $('Webhook Trigger').first().json.body.imageUrl || null,\n    websiteUrl: $('Webhook Trigger').first().json.body.websiteUrl || null\n  }\n}];"
      },
      "id": "parse-classification",
      "name": "Parse Classification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "outputKey": "ecommerce_video",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "ecommerce_video",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "instagram_post",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "instagram_post",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "carousel",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "carousel",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "cinematic_video",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "cinematic_video",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "human_face_video",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "human_face_video",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "image_edit",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "image_edit",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "needs_research",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "needs_research",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "id": "switch-content-type",
      "name": "İçerik Türü Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [940, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 97d226c568fea77abdeaedde37a6c6aa"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sora/storyboard\",\n  \"input\": {\n    \"storyboard\": [\n      {\n        \"prompt\": \"{{ $json.suggested_prompt }}\",\n        \"duration\": 10\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "id": "sora-storyboard",
      "name": "Sora Storyboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 97d226c568fea77abdeaedde37a6c6aa"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"nano-banana-pro\",\n  \"input\": {\n    \"prompt\": \"{{ $json.suggested_prompt }}\",\n    \"aspect_ratio\": \"4:5\"\n  }\n}",
        "options": {}
      },
      "id": "nanobananapro-post",
      "name": "NanoBanana Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 97d226c568fea77abdeaedde37a6c6aa"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"nano-banana-pro\",\n  \"input\": {\n    \"prompt\": \"{{ $json.suggested_prompt }}\",\n    \"aspect_ratio\": \"4:5\"\n  }\n}",
        "options": {}
      },
      "id": "nanobananapro-carousel",
      "name": "NanoBanana Carousel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 97d226c568fea77abdeaedde37a6c6aa"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"kling-3.0/video\",\n  \"input\": {\n    \"prompt\": \"{{ $json.suggested_prompt }}\",\n    \"duration\": 10,\n    \"mode\": \"pro\",\n    \"aspectRatio\": \"16:9\",\n    \"generate_audio\": true\n  }\n}",
        "options": {}
      },
      "id": "kling-cinematic",
      "name": "Kling Cinematic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 480]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/veo/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 97d226c568fea77abdeaedde37a6c6aa"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.suggested_prompt }}\",\n  \"model\": \"veo3\",\n  \"aspect_ratio\": \"16:9\"\n}",
        "options": {}
      },
      "id": "veo31-video",
      "name": "Veo 3.1 Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 640]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 97d226c568fea77abdeaedde37a6c6aa"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"qwen/image-edit\",\n  \"input\": {\n    \"prompt\": \"{{ $json.suggested_prompt }}\",\n    \"image_url\": \"{{ $json.imageUrl }}\",\n    \"strength\": 0.7,\n    \"output_format\": \"png\"\n  }\n}",
        "options": {}
      },
      "id": "qwen-edit",
      "name": "Qwen Image Edit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 800]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Sen bir marka araştırmacısısın. Verilen web sitesi veya marka hakkında detaylı bilgi topla.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.originalMessage }}\"\n    }\n  ],\n  \"temperature\": 0.2,\n  \"max_tokens\": 3000\n}",
        "options": {}
      },
      "id": "perplexity-research",
      "name": "Perplexity Araştırma",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 960]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'task_created', taskId: $json.data?.taskId || $json.data?.task_id, category: $('Parse Classification').first().json.category }) }}"
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1460, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Groq Sınıflandırma",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Sınıflandırma": {
      "main": [
        [
          {
            "node": "Parse Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Classification": {
      "main": [
        [
          {
            "node": "İçerik Türü Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "İçerik Türü Switch": {
      "main": [
        [
          {
            "node": "Sora Storyboard",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NanoBanana Post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NanoBanana Carousel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Kling Cinematic",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Veo 3.1 Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Qwen Image Edit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Perplexity Araştırma",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sora Storyboard": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NanoBanana Post": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NanoBanana Carousel": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kling Cinematic": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Veo 3.1 Video": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qwen Image Edit": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity Araştırma": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-02-14T11:21:00.000Z",
  "versionId": "1"
}
